.pergunta-container{
    width: 300;
    height: 65;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px #00000026;
}

.pergunta{
    font-family: Recursive;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}